[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
mongosql = {git = "https://github.com/dignio/py-mongosql.git"}

[dev-packages]
pytest = "*"
mypy = "*"
coverage = "*"

[requires]
python_version = "3.6"
